<div class="card">
    <div class="card-image-top mt-3">
        <img class="login-img" src="{{ url_for('static', filename='images/reading_by_the_sea.jpg') }}" alt="It is easy to bring a book and read wherever you want" aria-hidden="true">
        <div class="login-text rounded-corners">
        {% if login %}
            <h2>Log In</h2>
        {% else %}
            <h2>Sign Up</h2>
        {% endif %}
        </div>
    </div>
    {% include 'components/forms/form_authorisation.html' %}
</div>