<div class="card h-100 text-center">
    <div class="card-body">
        <div class="card-title">
            {% set button='book' %}
            {% include 'components/buttons_general/button_buy.html' %}
            <h5>{{ book.title }}</h5>
        </div>
        <img src="{{ book.image }}" alt="Book cover: {{ book.image }} ">
        <ul class="book_list card-text">
            <li>{{ book.author }}</li>
            <li><i class="fas fa-star"></i>{{ book.avg_gr_rounded }}</li>
        </ul>
    </div>
    <div class="card-footer bgr-white">
        <a href="/book/{{ book._id }}/'book'" class="btn btn-green text-white">Book details <i class="fas fa-info-circle"></i></a>
        {% if session.username %}
            {% include 'components/buttons_general/button_add_opinion.html' %}
        {% endif %}
    </div>
</div>