<div class="card">
    <div class="card-body m-3">
        <div class="text-center">
            <h5 class="card-title">{{ group.group_name }}</h5>
            <a href="{{ url_for('edit_group', category_group_id=group._id, old_group_name=group.group_name) }}" class="btn btn-green">
                Edit <i class="fas fa-pen-square"></i>
            </a>
            <a href="{{ url_for('delete_group', category_group_id=group._id, category_group=group.group_name) }}" class="btn btn-red">
                Delete <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>
</div>