{% if login %}
    <form method="POST" action="{{ url_for('login') }}" class="was-validated">
{% else %}
    <form method="POST" action="{{ url_for('signup') }}" class="was-validated">
{% endif %}
        <div class="card-body bgr-white">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user padding-r6"></i></div>
                </div>
                <input id="username" class="form-control" name="username" type="text" placeholder="Enter username"
                    minlength="3" maxlength="15" required>          
            </div> 
                    
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user-lock"></i></div>
                </div>
                <input id="password" class="form-control" name="password" type="password" placeholder="Enter password"
                    minlength="3" maxlength="15" required>         
            </div> 
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-lg btn-green">
                    Submit <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>