<form id="search_book_form" method="POST" action="{{ url_for('search') }}" class="was-validated">
    <div class="input-group">
        <label for="title_or_author" class="sr-only">Enter Title och Author</label>
        <input id="title_or_author" name="title_or_author" type="text" class="form-control" placeholder="Title or Author" minlength="3" maxlength="50" required>
        <div class="input-group-prepend">
            <button type="submit" class="btn btn-sm btn-green">
                <i class="fas fa-search"></i> This Database
            </button>
        </div>
    </div>
</form>