{% extends 'layouts/base.html' %}

{% block content%}
    <section class="container text-center mt-3">
        <div class="divider"></div>
        {% include 'components/cards/card_authorisation.html' %}

        <div class="row mt-3">
            <div class="col s12">
                <p class="center-align">
                    {% if login %}
                        New Here? 
                        <a href="{{ url_for('signup')}}">Sign Up</a>
                    {% else %}
                        Already signed up? 
                        <a href="{{ url_for('login') }}">Log In</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <div class="divider"></div>

{% endblock %}