{% extends 'layouts/base.html' %}

{% block navtop %}
    {% include 'components/top-bookshelf.html' %} 
{% endblock %}

{% block content %}

    <!-- Book information -->
    <section id="details" class="container mt-5 mb-5">
        <div class="text-right">
            <a href="/" class="btn btn-green mb-3 mr-5 text-white"><i class="fas fa-times-circle fa-lg"></i></a>
        </div>
        <div class="text-center">
            <h2>Book Details</h2>
        </div>
        {% include 'components/cards/book_details_card.html' %}
    </section>

    {% set modal='opinion' %}
    {% include 'components/modals/modal_general.html' %}

    {% set modal='buy' %}
    {% include 'components/modals/modal_general.html' %}


{% endblock %}