{% extends 'layouts/base.html' %}

{% block navtop %}
    {% include 'components/top-bookshelf.html' %} 
{% endblock %}

{% block content %}
    <section class="container">
        <div class="text-center m-5">
            {% if edit %}
                <h2>Edit Category Group</h2>
            {% else %}
                <h2>Add Category Group</h2>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-body m-3">
                {% include 'components/forms/category_group_form.html' %}
            </div>
        </div>
    </section>
    <div class="divider"></div>
 
{% endblock %}