{% extends 'layouts/base.html' %}

{% block navtop %}
    {% include 'components/top-bookshelf.html' %} 
{% endblock %}

{% block content%}

    <section class="container">
        <div class="text-center m-5">
            <h2>Manage category groups</h2>
            <p>Each book in this database is linked to a category group.</p>
        </div>
        <div class="row">
            <div class="col text-center mb-3">
                <a href="{{ url_for('add_group') }}" class="btn btn-lg btn-green">
                    Add New Group <i class="fas fa-plus-square right"></i></a>
            </div>
        </div>
        <div class="row">
            {% for group in category_groups %}
                {% if group.group_name != "Other" %}
                    <div class="col-12 col-md-4 col-lg-3 mb-2">

                        {% set card='category_groups' %}
                        {% include 'components/cards/card_general.html' %}
        
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <div class="divider"></div>     
{% endblock %}