{% extends 'layouts/base.html' %}

{% block content %}
    <!-- Start-section  -->
    <section class="start-container">
        <div class="start-image"></div>
        <div class="start-text dark-shadow rounded-corners">
            <h1>the Best Books</h1>
        </div>
    </section>
    <!-- End of Start-section -->

    <!-- Top-10 books-section  -->
    <section id="10-top">
        <div class="divider"></div>
        <div id="popular" class="container w-90">
            <div class="text-center">
                <h2>10-Top Books</h2>
            </div>
            {% include 'components/carousel.html' %}
        </div>
    </section>
    <!-- End of top-10-section -->

    <!-- Category groups-section -->
    <section id="categories">
        <div class="divider"></div>
        <div class="text-center m-5">
            <h3>Best in Category</h3>
            <div class="row">
                {% for category_group in category_groups %}
                    <div class="col-6 col-md-3 mb-3">
                       {% include 'components/cards/select_category_card.html' %} 
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="divider"></div>
    </section>
    <!-- End of Category groups-section -->
    
    <!-- Search for book-section -->
    <section id="search">
        <div class="divider-sm"></div>
        <div id="search_for_book" class="container">
            <div class="text-center">
                <h2>Search for book in this database</h2>
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('search') }}" class="was-validated">
                            <div class="input-group">
                                <input name="title_or_author" type="text" class="form-control" placeholder="Title or Author" minlength="3" maxlength="30" required>
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-sm btn-green">
                                        <i class="fas fa-search"></i> This Database
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
        <div class="divider-sm"></div>
    </section>
    <!-- End of search for book-section -->
    
    <!-- Add book-section -->
    <section id="book">
        <div class="divider"></div>
    {% if session.username %}
        <div class="container">
            <div class="text-center">
                <h2>Add book</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p>Search in Google Books to get information about book you want to add</p>
                    </div>
                    <form id="book_form" onsubmit="searchBooks({{ category_groups }}); return false" class="was-validated">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2">
                                <input id="search_books" name="search_book" placeholder="Title and/or Author" type="text" minlength="2" maxlength="25"
                                    class="form-control was-validated" required>
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-sm btn-green">
                                            <i class="fas fa-search"></i> Search Books
                                    </button> 
                                </div>
                            </div> 
                        </div>
                    </form>
                    <div class="text-center">
                        <img src="https://books.google.com/googlebooks/images/poweredby.png" alt="Powered by Google">
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        
        <div id="search_results" class="container"></div>
        <div id="add_book" class="container"></div>
    {% endif %}
    </section>
    <!-- End of Add book-section -->
    
    {% include 'components/modals/modal_opinion.html' %}
    {% include 'components/modals/modal_buy_book.html' %}

{% endblock %}