{% extends 'layouts/base.html' %}

{% block content %}
    <!-- Start-section  -->
    <section class="start-container">
        <div class="start-image"></div>
        <div class="start-text rounded-corners start-width">
            <p>Welcome to </p>
            <h1 class="text-sandy dark-shadow">Best Books</h1>
            <p>This is the place to find out which books are best, buy books,
                search for books, see what other think about a book or share 
                your own opinion about a book. (Look in the menu above!)
            </p>
            <hr>
            <p>If you want to add a book or a review, you have to 
                <a href="{{ url_for('signup') }}">Sign Up</a> and/or 
                <a href="{{ url_for('login') }}">Log In</a>.
            </p>
        </div>
    </section>
    <!-- End of Start-section -->

    <!-- Top-10 books-section  -->
    <section id="10-top">
        <div class="divider"></div>
        <div id="popular" class="container w-90">
            <div class="text-center">
                <h2>10-Top Books</h2>
            </div>
            {% include 'components/carousel.html' %}
        </div>
    </section>
    <!-- End of top-10-section -->

    <!-- Category groups-section -->
    <section id="categories">
        <div class="divider"></div>
        <div class="text-center m-5">
            <h3>Best in Category</h3>
            <div class="row">
                {% for category_group in category_groups %}
                    <div class="col-6 col-md-3 mb-3">
                        {% include 'components/cards/card_best_category.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End of Category groups-section -->
    
    <!-- Search for book-section -->
    <section id="search">
        <div class="divider"></div>
        <div id="search_for_book" class="container">
            <div class="text-center">
                <h2>Search for book in this database</h2>

                {% set card='search_book' %}
                {% include 'components/cards/card_general.html' %}

            </div>
        </div>
        <div class="divider"></div>
    </section>
    <!-- End of search for book-section -->
    
    <!-- Add book-section -->
    <section id="book">
        <div class="divider"></div>
    {% if session.username %}
        <div class="container">
            <div class="text-center">
                <h2>Add book</h2>
            </div>

            {% set card='add_book' %}
            {% include 'components/cards/card_general.html' %}

        </div>
        <div class="divider"></div>
        
        <div id="search_results" class="container"></div>
        <div id="add_book" class="container"></div>
    {% endif %}
    </section>
    <!-- End of Add book-section -->
    
    {% set modal='opinion' %}
    {% include 'components/modals/modal_general.html' %}

    {% set modal='buy' %}
    {% include 'components/modals/modal_general.html' %}

{% endblock %}