{% extends 'layouts/base.html' %}

{% block content %}
    <!-- Start-section  -->
    <section class="start-container">
        <div class="start-image"></div>
        <div class="start-text dark-shadow rounded-corners">
            <h1>the Best Books</h1>
        </div>
    </section>
    <!-- End of Start-section -->

    <!-- Top-10 books-section  -->
    <section id="10-top">
        <div class="divider"></div>
        <div id="popular" class="container w-90">
            <div class="text-center">
                <h2>10-Top Books</h2>
            </div>
            {% include 'components/carousel.html' %}
        </div>
    </section>
    <!-- End of top-10-section -->

    <!-- Category groups-section -->
    <section id="categories">
        <div class="divider"></div>
        <div class="text-center m-5">
            <h3>Best in Category</h3>
            <div class="row">
                {% for category_group in category_groups %}
                    <div class="col-6 col-md-3 mb-3">
                       {% include 'components/cards/select_category_card.html' %} 
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="divider"></div>
    </section>
    <!-- End of Category groups-section -->
    
    <!-- Search for book-section -->
    <section id="search">
        <div class="divider-sm"></div>
        <div id="search_for_book" class="container">
            <div class="text-center">
                <h2>Search for book in this database</h2>
                {% include 'components/cards/search_book_card.html' %}
            </div>
        </div>
        <div class="divider-sm"></div>
    </section>
    <!-- End of search for book-section -->
    
    <!-- Add book-section -->
    <section id="book">
        <div class="divider"></div>
    {% if session.username %}
        <div class="container">
            <div class="text-center">
                <h2>Add book</h2>
            </div>
            {% include 'components/cards/add_book_card.html' %}
        </div>
        <div class="divider-sm"></div>
        
        <div id="search_results" class="container"></div>
        <div id="add_book" class="container"></div>
    {% endif %}
    </section>
    <!-- End of Add book-section -->
    
    {% include 'components/modals/modal_opinion.html' %}
    {% include 'components/modals/modal_buy_book.html' %}

{% endblock %}