{% extends 'layouts/base.html' %}

{% block navtop %}
    {% include 'components/top-bookshelf.html' %} 
{% endblock %}

{% block content%}
    <section class="container mt-5">
        <div class="text-right">
            <a href="{{ url_for('get_book', book_id=book_id, page='book') }}" class="btn btn-green mb-3 text-white"><i class="fas fa-times-circle fa-lg"></i></a>
        </div>
        <div>
            <h2>All opinions about:  "{{ title }}"</h2>
        </div>

        {% set card='review' %}
        {% include 'components/cards/card_general.html' %}

    </section>

    {% set modal='opinion' %}
    {% include 'components/modals/modal_general.html' %}

{% endblock %}