{% extends 'layouts/base.html' %}

{% block navtop %}
    {% include 'components/top-bookshelf.html' %} 
{% endblock %}

{% block content%}
    <section class="container mt-5">
        <div class="text-right">
            <a href="{{ url_for('get_book', book_id=book_id) }}" class="btn btn-green mb-3 text-white"><i class="fas fa-times-circle fa-lg"></i></a>
        </div>
        <div>
            <h2>All reviews for:  "{{ title }}"</h2>
        </div>
        <div class="card bgr-white">
            <div class="card-content">
               {% for review in reviews %}
                    <div class="review">
                        <ul>
                            <li><strong>Opinion added by user </strong><em>{{ review.added_by }}</em>:</li><br>
                            <li><strong>Grade:</strong> {{ review.grade }}</li>
                            <li>"{{ review.review }}"</li>
                        </ul>
                        {% if session.username == review.added_by %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-sm btn-green" onclick="changeOpinion(`{{ review.book_id }}`, `{{ title }}`,
                                    `{{ review._id}}`, `{{ review.grade }}`, `{{ review.review }}`, `reviews`)">
                                    Change
                                </button>
                                <a href="{{ url_for('delete_opinion', book_id=review.book_id, review_id=review._id, return_to='reviews', title=title) }}" class="btn btn-sm btn-red">
                                    Delete 
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor%}
            </div>
        </div>
    </section>

    {% include 'components/modals/modal_opinion.html' %}

{% endblock %}