<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% include 'layouts/links.html' %}
    
    <title>The Best Books</title>

</head>

<body>
    <header class="sticky-top">
        {% block navtop %}
        {% endblock %}
        {% include 'layouts/navigation.html' %}
    </header>

    <section>
        {% include 'components/messages.html'%}
    </section>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'layouts/footer.html' %}
    
    {% include 'layouts/scripts.html' %}
</body>
</html>