/* Import fonts from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */
html{
    scroll-behavior: smooth;
    font-size: 16px;
} 
body{
    font-family: "Poppins", "Roboto", sans-serif;
    color: #32292f;
    background-color: #f5f4f6; 
    font-size: 1rem;
}
.dark-shadow{
    text-shadow: 2px 2px 2px rgba(50,41,47,1);
}
.light-shadow{
    text-shadow: 2px 2px 2px rgba(255,252,242,1);
} 
.text-red{
    color: #cc2936;
}
.text-light{
    color: #fffcf2;
}
.text-dark{
    color: #32292f;
}
.btn-green{
    background-color: #2a9d8f;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.btn-grey{
    background-color: #e0dde3;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
}
.btn-red{
    background-color: #cc2936;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.bgr-red{
    background-color: #cc2936;
}
.bgr-light{
    background-color: #fffcf2;
}
.bgr-white{
    background-color: #ffffff;
}
.bgr-green{
    background-color: #2a9d8f;
}
.bgr-brown{
    background-color: #774936;
}
.bgr-orange{
    background-color: #e76f51;
}
.bgr-sandy{
    background-color: #f4a261;
}

/* Header */
nav, .sidenav {
    background-color: #e0dde3;
    color: #32292f;
} 
nav a, nav ul a{
    color: #32292f;
}
nav .brand-logo{
    color: #cc2936;
}

/* Books: Carousel section */
.row.carousel-center {
    position: absolute;
    top:50%;
    width:100%;
}
#next {
    position: absolute;
    right: 2rem;
    color: #000000;
    background: #ffffff;
    font-size: 2rem;
    border-radius: 50px;
}
#prev {
    position: absolute;
    left: 2rem;
    color: #000000;
    background: #ffffff;
    font-size: 2rem;
    border-radius: 50px;
}
/* Books: Add book section */
#search_results .card .card-content{
    padding: 1rem;
}
#search_results .card .card-image img{
    height: 100%;
    width: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
textarea.materialize-textarea{
    resize: vertical;
}
#description{
    height: 5rem;
}
#image_link{
     height: 4rem;
}
/* For a responsive site */
@media screen and (max-width: 400px){
    html{
        font-size: 14px;
    }
}