/* Import fonts from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** General **/
html{
    scroll-behavior: smooth;
    font-size: 16px;
} 
body{
    font-family: "Poppins", "Roboto", sans-serif;
    color: #000000;
    background-color: #fbdec6;
    font-size: 1rem;
}
.rounded-corners{
    border-radius: 3%;
}
.dark-shadow{
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.text-white{
    color: #ffffff;
}
.text-sandy{
    color: #e76f51;
}
.btn-green{
    background-color: #222823;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.btn-red{
    background-color: #e76f51;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    }
.btn:hover{
    transform: scale(1.1);
    color: #ffffff;
}
.bgr-black{
    background-color: #000000;
}
.bgr-white{
    background-color: #ffffff;
}
.bgr-acid{
    background-color: #acc12f;
}
.bgr-darkgreen{
    background-color: #222823;
}
.bgr-red{
    background-color: #cc2936;
}
.divider{
    height: 5rem;
}
.buy{
    border-radius: 50%;
    float: right;
    border: dotted;
}
.buy:hover{
     transform: scale(1.2);
}

/* Navigation */
#nav-image{
    width: 100%;
    max-height: 15rem;
}
.navbar-brand{
    color: #e76f51;
    border: none;
    border-radius: 5%;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    padding-left: 0.5rem;
}
.navbar-brand:hover, .navbar-toggler:hover{
    transform: scale(1.1);
    color: #e76f51;
}
.brand-toggler{
    padding-left: 0.6rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}
.nav-item{
    color: #ffffff;
}
.nav-item:hover{
    color: #f4a261;
}

/* Footer */
.icon{
    color: #ffffff;
}
.icon:hover{
    transform: scale(1.5);
}

/** Home page **/
/* Start */
.start-container{
    position: relative;
}
.start-image {
    background-image: url("../images/coffee_and_book.jpg");
    max-width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.start-width{
    width: 60%;
}
.start-text {
    background-color: rgb(255,255,255,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
}

/* Top- 10 section*/
.card, .carousel-inner{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
#next, #prev{
    /*position: absolute;
    right: 0.5rem;*/
    font-size: 2rem;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
}
.carousel-indicators li{
    filter: invert(100%);
}
.margin3{
    margin-right: 3rem;
}
.number{
    padding-left: 4rem;
}

/* Category groups section */
.bgr-orange{
    background-color: #e76f51;
}
.bgr-sandy{
    background-color: #f4a261;
}
.bgr-metallic{
    background-color: #4b838e;
}
.category-btn:hover{
    transform: scale(1.2);
}

/* Add book section */
#description{
    height: 5rem;
}
#image_link{
     height: 4rem;
}
.padding-r17{
    padding-right: 17px;
}

/** Book details **/
.book_list, .review_list{
    list-style-type: none;
    padding-left: 0;
}
.left{
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
}
.review{
    border-style: solid;
    padding: 1em;
}

/** Log In **/
.login-img {
    max-width: 80%;
    background-position: center;
}
.login-text {
    background-color: rgb(224,221,227,0.6);
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}
.padding-r6{
    padding-right: 6px;
}

/* For a responsive site */
@media screen and (max-width: 576px){
    html{
        font-size: 14px;
    }
    .left{
        float:none;
    }
    .start-width{
        width: 90%;
    }
}
@media screen and (min-width: 992px){
    #popular{
        width: 75%;
    }
}