/* Import fonts from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */
html{
    scroll-behavior: smooth;
    font-size: 16px;
} 
body{
    font-family: "Poppins", "Roboto", sans-serif;
    color: #32292f;
    background-color: #f5f4f6; 
    font-size: 1rem;
}
.dark-shadow{
    text-shadow: 2px 2px 2px rgba(50,41,47,1);
}
.light-shadow{
    text-shadow: 2px 2px 2px rgba(255,252,242,1);
}
.text-white{
    color: #ffffff;
}
.text-red{
    color: #cc2936;
}
.text-light{
    color: #fffcf2;
}
.text-dark{
    color: #32292f;
}
.btn-green{
    background-color: #264653;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.btn-grey{
    background-color: #e0dde3;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
}
.btn-red{
    background-color: #e76f51;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    }
.bgr-black{
    background-color: #000000;
}
.bgr-light{
    background-color: #fffcf2;
}
.bgr-white{
    background-color: #ffffff;
}
.bgr-acid{
    background-color: #acc12f;
}
.bgr-darkgreen{
    background-color: #264653;
}
.bgr-green{
    background-color: #2a9d8f;
}
.bgr-sandy{
    background-color: #f4a261;
}
.bgr-orange{
    background-color: #e76f51;
}
.bgr-red{
    background-color: #cc2936;
}
.bgr-brown{
    background-color: #774936;
}
.img-fluid{
    width: 100%;
    height: auto;
}

/* Header */
.navbar-brand{
    color: #f4a261;
}
.navbar a{
    color: #ffffff;
}

/* Carousel
.carousel-item .card .card-img img{
    height: 100%;
    width: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    height: 500px;
}

.container .carousel{
    position: absolute;
    top: 50%;
}
*/
#next, #prev{
    /*position: absolute;
    right: 0.5rem;*/
    font-size: 2rem;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
}
.carousel-indicators li {
    filter: invert(100%);
}


/* Books: Add book section */
#search_results .card .card-content,
#search_category .card .card-content{
    padding: 1rem;
}
#search_results .card .card-image img,
#search_category .card .card-image img{
    height: 100%;
    width: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
textarea.materialize-textarea{
    resize: vertical;
}
#description{
    height: 5rem;
}
#image_link{
     height: 4rem;
}
/* Get book */
img.left{
    margin-right: 1em;
    margin-botton: 1em;
}
.review_list{
    border-style: solid;
    padding: 1em;
}

/* Log In */
input, input-field{
    border-style: none none solid none;
}

/* For a responsive site */
@media screen and (max-width: 400px){
    html{
        font-size: 14px;
    }
}