{% extends "base.html" %}
{% block content %}

    <div id="details" class="container">
        <div class="text-center m-5">
            <h2>Book Details</h2>
        </div>
        <div class="card m-3">
            
                    <div class="card-content bgr-white m-5">
                        <h3 class="mb-3">{{book.title}}</h3>
                        <img class="left" src="{{book.image}}">
                        <p>
                            <strong>Author/s:</strong> {{book.author}}<br>
                            <strong>Published:</strong> {{ book_details.published_date }}<br>
                            <strong>Grade:</strong>
                            <span>
                                {% for count in range(stars) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                                {% for count in range(5 - stars) %}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                                {{ book.average_grade }}<br><br>
                            </span>
                            <strong>Category:</strong> {{ book.category}}<br>
                            <strong>Category Group:</strong> {{ book.category_group}}<br><br>
                            <strong>Industry identifier:</strong> {{ book_details.identifier }}<br><br>
                            <strong>Description:</strong> {{ book_details.description }}<br><br>
                            <strong>Image link:</strong> {{book.image}}<br><br>
                            <strong>Book added by user:</strong> <em>{{ book.added_by}}</em>
                        </p>
                        <div class="row mb-3">
                            <div class="col s12 text-center">
                                <a href="{{url_for('get_books')}}" class="btn btn-lg btn-green">
                                    Done
                                </a>
                                {% if session.username %}
                                    <button type="submit" class="btn btn-lg btn-green" onclick="addOpinion('{{ book._id }}', '{{ book.title }}', 'details')">
                                        Add opinion
                                    </button>  
                                {% endif %}
                                {% if session.username == book.added_by %}
                                    <a href="{{ url_for('delete_book', id=book._id) }}" class="btn btn-lg btn-red">
                                        Delete Book
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% for review in book_details.reviews_max5 %}
                        <div class="review_list">
                            Opinion added by user <em>{{ review.added_by }}</em>:<br>
                            <strong>Grade:</strong> {{ review.grade }}<br>
                            "{{ review.review }}"
                        
                            {% if session.username == review.added_by %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-sm btn-green" onclick="changeOpinion('{{ book._id }}', '{{ book.title }}',
                                        '{{ review._id}}', '{{ review.grade }}', '{{ review.review }}')">
                                        Change
                                    </button>
                                    <a href="{{ url_for('delete_opinion', book_id=book._id, review_id=review._id) }}" class="btn btn-sm btn-red">
                                        Delete 
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% endfor%}
                    </div>
            
        </div>
    </div>

    {% include "modal.html" %}

    <!-- Modal Structure from Materialize -->
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id="modal2_header"></h4>
            <form id="modal2_form" method="POST" action="{{ url_for('change_opinion') }}">
                <div id="hidden2_input"></div>
                <div class="input-field">
                    <label for="grade_m"></label>
                    <select id="grade_m2" name="grade_m2" class="validate"></select>
                </div>
                <div>
                    <label for="review_m2">Your review of the book</label>
                    <textarea id="review_m2" name="review_m2"></textarea>
                </div>
            </form>
        </div>
        <div id="modal2_buttons" class="modal-footer"></div>
    </div>

{% endblock %}