{% extends "base.html" %}
{% block content %}

    <h3>Most Popular Books</h3>
    <h3>Different Categories</h3>
    <div class="row">
        <form id="add_book" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="title" id="title" type="text" class="validate">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="result">
        Här ska resultatet skrivas ut
    </div>


    {% for book in books %}
        {{ book.title }}<br>
    {% endfor %}

    {% if session.username %}
    <div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-content bgr-white">
                        <div class="center-align">
                            <span class="card-title">Add Book</span>
                            <span>Voluntary search for information</span>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="search_txt" name="search_txt" placeholder="Part of Title or Author" minlength="3" maxlength="25"
                                    type="text" class="validate" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn-large bgr-sandy text-dark light-shadow" onclick="searchTitle()">
                                    Search among book titles
                                </button>
                                <button type="submit" class="btn-large bgr-green text-light dark-shadow" onclick="searchAuthor()">
                                    Search among authors
                                </button>
                            </div>
                            <div class="col s12 center-align">
                                <br>
                                <a href="#" class="btn-large bgr-red txt-ligth dark-shadow">Continue to Add book without searching for information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <h3>Search results</h3>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card medium center-align">
                    <div class="card-image">
                        <img src="https://books.google.com/books/content?id=0DcQCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                    </div>
                    <div class="card-content">
                        <h6>Harry Potters kokbok</h6>
                        <p>J.K.Rowling · ytterligare en författare · och ytterligare några · 2020</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small bgr-red txt-ligth dark-shadow">Add book to this site</a>
                     </div>    
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium center-align">
                    <div class="card-image">
                        <img src="https://books.google.com/books/content?id=FzcQCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                    </div>
                    <div class="card-content">
                        <h6>Harry Potter</h6>
                        <p>Mr X · 2020</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small bgr-red txt-ligth dark-shadow">Add book to this site</a>
                    </div>    
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium center-align">
                    <div class="card-image">
                        <img src="https://books.google.com/books/content?id=DKcWE3WXoj8C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                    </div>
                    <div class="card-content">
                        <h6>Harry Potters kokbok</h6>
                        <p>J.K.Rowling · 2020</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small bgr-red txt-ligth dark-shadow">Add book to this site</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium center-align">
                    <div class="card-image">
                        <img src="https://books.google.com/books/content?id=7cHLDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" width="128">
                    </div>
                    <div class="card-content">
                        <h6>Där kräftorna sjunger</h6>
                        <p>Delia Owens · 2000</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small bgr-red txt-ligth dark-shadow">Add book to this site</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}