{% extends "base.html" %}

{% block content %}
    <!-- Start -->
    <div class="start-image m-3"></div>
    <div class="start-text dark-shadow rounded-corners">
        <h1>the Best Books</h1>
    </div>  

    <!-- Top-10 books -->
    <section  class="bgr-darkgreen">
        <div class="divider-sm"></div>
        <div id="popular" class="container w-90">
            <div class="text-center text-white">
                <h2>10-Top Books</h2>
            </div>
            <!-- Code inspired from Bootstrap -->
            <div id="popular_carousel" class="carousel bgr-white" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    {% for count in range(10) %}
                        {% if count == 1 %}
                            <li data-target="#popular_carousel" data-slide-to="{{ count }}" class="active"></li>
                        {% else %}
                            <li data-target="#popular_carousel" data-slide-to="{{ count }}"></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    {% for best_book in best_books %}
                        {% if best_book.place == 1 %}
                            <div class="carousel-item active mt-4 mr-5 mb-3">
                        {% else %}
                            <div class="carousel-item mt-4 mr-5 mb-3">
                        {% endif %}
                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" class="buy bgr-red text-white p-2 margin2" data-toggle="modal" data-target="#buyModal">
                                        <i class="fas fa-shopping-cart fa-lg"></i>
                                    </button>
                                    <h3 class="number">Number {{ best_book.place }}:</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-5 text-center">
                                    <img src="{{ best_book.image }}" alt="Picture of book cover">
                                </div>
                                <div class="col-12 text-left col-md-7 mt-2">
                                    <div class="row">
                                        <div class="col-12 d-none d-md-block">
                                            <h4>{{ best_book.title }}</h4>
                                        </div>
                                        <div class="col-12 text-center d-md-none">
                                            <i class="fas fa-star"></i> {{ best_book.average_grade }}
                                        </div>
                                    </div>
                                    <div class="row d-none d-md-block mt-2">
                                        <div class="col">
                                            <p>
                                                {% for count in range(best_book.stars) %}
                                                    <i class="fas fa-star"></i>
                                                {% endfor %}
                                                {% for count in range(5 - best_book.stars) %}
                                                    <i class="far fa-star"></i>
                                                {% endfor %}
                                                {{ best_book.avg_gr_rounded }} <br>
                                                {{ best_book.author }}<br>
                                                {{ best_book.published_date }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mr-2 ml-2 mb-4">
                                {% if session.username %}
                                    <div class="col text-center text-md-right">
                                        <button type="submit" class="btn btn-green" onclick="addOpinion('{{ best_book._id }}', '{{ best_book.title }}', 'popular')">Add opinion</button>
                                    </div>
                                    <div class="col text-center text-md-left">
                                {% else %}
                                    <div class="col text-center">
                                {% endif %}
                                    <button class="btn btn-green">
                                            <a href="/book/{{ best_book._id }}" class="text-white">Book Details</a>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#popular_carousel" data-slide="prev">
                    <i id="prev" class="fas fa-chevron-left"></i>
                </a>
                <a class="carousel-control-next" href="#popular_carousel" data-slide="next">
                    <i id="next" class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="divider"></div>
    </section>

    <section id="categories">
        <div class="divider"></div>
        <div class="text-center m-5">
            <h3>Most Popular in Category</h3>
            <div class="row">
                {% for category_group in category_groups %}
                    <div class="col-6 col-md-3 mb-3">
                        <div class="card bgr-{{ category_group.colour }} p-3">
                            <div class = "card-content" >
                                <form method="POST" action="{{ url_for('search_category') }}">
                                    <input type="hidden" name="category" value="{{ category_group.group_name }}"> 
                                    <button type="submit" class="btn btn-sm bgr-black text-light" onclick="moveTo()">
                                        {{ category_group.group_name }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="divider"></div>
    </section>
    
    
    <section id="search" class="bgr-darkgreen">
        <div class="divider"></div>
        <div id="search_for_book" class="container w-90">
            <div class="text-center text-white">
                <h2>Search for book in this database</h2>
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('search') }}" class="was-validated">
                            <div class="input-group">
                                <input name="title_or_author" type="text" class="form-control" placeholder="Title or Author" minlength="3" maxlenght="15" required aria-label="search" aria-describedby="search_icon">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-green input-group-text" id="search_icon"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </section>
    
    <section id="book">
        <div class="divider"></div>
    {% if session.username %}
        <div class="container">
            <div class="text-center">
                <h2>Add book</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p>Search in Google Books to get information about book you want to add</p>
                    </div>
                    <form id="title_form" onsubmit="searchTitle({{category_groups}}); return false" class="was-validated">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2">
                                <input id="search_title" name="search_title" placeholder="Title" type="text" minlength="2" maxlength="30"
                                    class="form-control was-validated" required>
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-sm btn-green">
                                            <i class="fas fa-search"></i>Search Books
                                    </button> 
                                </div>
                            </div> 
                        </div>
                    </form>
                    <form id="author_form" onsubmit="searchAuthor({{ category_groups }}); return false" class="was-validated">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2">
                                <input id="search_author" name="search_author" placeholder="Author" type="text" minlength="2" maxlength="30"
                                    class="form-control was-validated" required>
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-sm btn-green">
                                        <i class="fas fa-search"></i> Search Books
                                    </button>
                                </div>
                            </div> 
                        </div>
                    </form>
                    <div class="text-center">
                        <img src="https://books.google.com/googlebooks/images/poweredby.png" alt="Powered by Google">
                    </div>
                </div>
            </div>
        </div>
        
        <div id="search_results" class="container"></div>
        <div id="add_book" class="container"></div>
    {% endif %}
        <div class="divider"></div>
    </section>
    
    {% include "modal.html" %}
    {% include "modal_buy.html" %}

{% endblock %}