{% extends 'layouts/base.html' %}
{% block content %}

    <!-- Book information -->
    <section id="details" class="container mt-5 mb-5">
        <div class="text-right">
            <button class="btn btn-green mb-3 mr-5 closing">
                <a href="/" class="text-white"><i class="fas fa-times-circle fa-lg"></i></a>
            </button>
        </div>
        <div class="text-center">
            <h2>Book Details</h2>
        </div>
        <div class="card m-3">
            <div class="card-content bgr-white m-5">
                <button type="button" class="buy bgr-red text-white p-2" data-toggle="modal" data-target="#buyModal">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                </button>
                <h3 class="mb-3">{{book.title}}</h3>
                <img class="left" src="{{book.image}}">
                <p>
                    <strong>Author/s:</strong> {{book.author}}<br>
                    <strong>Published:</strong> {{ book_details.published_date }}<br>
                    <strong>Grade:</strong>
                    <span>
                        {% for count in range(book.stars) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for count in range(5 - book.stars) %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                        {{ book.avg_gr_rounded }}<br><br>
                    </span>
                    <strong>Category:</strong> {{ book.category}}<br>
                    <strong>Category Group:</strong> {{ book.category_group}}<br><br>
                    <strong>Industry identifier:</strong> {{ book_details.identifier }}<br><br>
                    <strong>Description:</strong> {{ book_details.description }}<br><br>
                    <strong>Image link:</strong> {{book.image}}<br><br>
                    <strong>Book added by user:</strong> <em>{{ book.added_by}}</em>
                </p>
                <div class="row mb-3">
                    <div class="col s12 text-center">
                        <a href="{{url_for('get_books')}}" class="btn btn-lg btn-red">
                            Close <i class="fas fa-times-circle"></i>
                        </a>
                        {% if session.username %}
                            <button type="submit" class="btn btn-lg btn-green" onclick="addOpinion(`{{ book._id }}`, `{{ book.title }}`)">
                                Add opinion <i class="fas fa-plus-square"></i>
                            </button>  
                        {% endif %}
                        {% if session.username == book.added_by %}
                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn btn-lg btn-red">
                                Delete Book <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% for review in book_details.reviews_max5 %}
                    <div class="review_list">
                        Opinion added by user <em>{{ review.added_by }}</em>:<br>
                        <strong>Grade:</strong> {{ review.grade }}<br>
                        "{{ review.review }}"
                        
                        {% if session.username == review.added_by %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-sm btn-green" onclick="changeOpinion(`{{ book._id }}`, `{{ book.title }}`,
                                    `{{ review._id}}`, `{{ review.grade }}`, `{{ review.review }}`, `book`)">
                                    Edit <i class="fas fa-pen-square"></i></i>
                                </button>
                                <a href="{{ url_for('delete_opinion', book_id=book._id, review_id=review._id, return_to='book', title=book.title) }}" class="btn btn-sm btn-red">
                                    Delete <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor%}

                <div class="row">
                    <div class="col-12">
                        <p class="text-center">
                        {% if book_details.more_reviews == "y" %}
                            Book have more reviews
                            <a href="{{ url_for('get_reviews', book_id=book._id, title=book.title) }}">See all reviews</a>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/modal.html' %}
    {% include 'components/modal_buy.html' %}

{% endblock %}