{% extends "base.html" %}
{% block content %}

    <h3>Most Popular Books</h3>
    <h3>Different Categories</h3>
    <div class="row">
        <form id="add_book" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="title" id="title" type="text" class="validate">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="result">
        Här ska resultatet skrivas ut
    </div>


    {% for book in books %}
        {{ book.title }}<br>
    {% endfor %}

    {% if session.username %}
        <div class="row">
            <div class="center-align">
                <h2>Add book</h2>
            </div>
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <div class="center-align">
                            <span>Voluntary search for information</span>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="search_txt" name="search_txt" placeholder="Part of Title or Author" minlength="3" maxlength="25"
                                    type="text" class="validate" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn-large bgr-sandy text-dark light-shadow" onclick="searchTitle()">
                                    Search among book titles
                                </button>
                                <button type="submit" class="btn-large bgr-green text-light dark-shadow" onclick="searchAuthor()">
                                    Search among authors
                                </button>
                            </div>
                            <div class="col s12 center-align">
                                <br>
                                <a href="#" class="btn-large bgr-red txt-ligth dark-shadow">Continue to Add book without searching for information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="search_results" class="row">
        </div>
    {% endif %}

{% endblock %}