{% extends "base.html" %}
{% block content%}
    <div class="row">
        <div class="center-align">
            <h2>Manage Category Groups</h2>
        </div>
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content bgr-white">
                    <div class="divider"></div>
                    {% for group in category_groups %}
                        <div class="row section">
                            <div class="col s7 center">
                                {{ group.group_name }}
                            </div>
                            <div class="col s5">
                                <div class="col s8">
                                    <a href="{{ url_for('edit_group', id=group._id) }}" class="btn btn-green waves-effect waves-light">
                                        Edit 
                                    </a>
                                </div>
                                <div class="col s8">
                                    <a href="{{ url_for('delete_group', id=group._id) }}" class="btn btn-green waves-effect waves-light">
                                        Delete 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    {% endfor %}
                    <br>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('add_group') }}" class="btn-large btn-grey waves-effect waves-light">
                                Add New Group <i class="fas fa-plus-square right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}