{% extends 'layouts/base.html' %}

{% block content%}
    <section class="container text-center mt-3">
        <div class="card">
            <div class="card-image-top mt-3">
                <img class="login-img" src="./static/images/reading_by_the_sea.jpg">
                <div class="login-text rounded-corners">
                {% if login %}
                    <h2>Log In</h2>
                {% else %}
                    <h2>Sign Up</h2>
                {% endif %}
                </div>
            </div>
            {% if login %}
            <form method="POST" action="{{ url_for('login') }}" class="was-validated">
            {% else %}
            <form method="POST" action="{{ url_for('signup') }}" class="was-validated">
            {% endif %}
                <div class="card-body bgr-white">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input id="username" class="form-control" name="username" type="text" placeholder="Enter username"
                            minlength="3" maxlength="15" required>          
                    </div> 
                    
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user-lock"></i></div>
                        </div>
                        <input id="password" class="form-control" name="password" type="password" placeholder="Enter password"
                            minlength="3" maxlenght="15" required>         
                    </div> 
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-green">
                            Submit <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-3">
            <div class="col s12">
                <p class="center-align">
                    {% if login %}
                        New Here? 
                        <a href="{{ url_for('signup')}}">Sign Up</a>
                    {% else %}
                        Already signed up? 
                        <a href="{{ url_for('login') }}">Log In</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <div class="divider"></div>

{% endblock %}