{% extends "base.html" %}
{% block content %}
    <div id="search_book_results" class="mt-5">
        <div class="text-center">
            <h2 class="mb-3">Your search result:</h2>
            <button class="btn btn-lg btn-green mb-3">
                <a href="/" class="text-white">Return</a>
            </button>
        </div>
        
        <div class="row">
            {% for book in books %}
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>{{ book.title }}</h5>
                            </div>
                            <img src="{{ book.image }}" alt="">
                            <div class="card-text">
                                {{ book.author }}<br>
                                <i class="fas fa-star"></i>{{ book.average_grade }}<br>
                            </div>
                        </div>
                        <div class="card-footer bgr-white">
                            <button class="btn btn-green">
                                <a href="/book/{{ book._id }}" class="text-white">Book details</a>
                            </button>
                            {% if session.username %}
                                <button type="submit" class="btn btn-green" onclick="addOpinion('{{ book._id }}', '{{ book.title }}', 'details')">
                                    Add opinion
                                </button>  
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "modal.html" %}
    
{% endblock %}