{% extends "base.html" %}
{% block content%}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card medium">
                <div class="card-image">
                    <img src="./static/images/reading_by_the_sea.jpg">
                </div>
                <div class="center-align">
                    <span class="card-title">Sign Up</span>
                </div>
                <form method="POST" action="{{ url_for('sign_up') }}">
                    <div class="card-panel">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user prefix"></i>
                                <input id="username" name="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-lock prefix"></i>
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-envelope prefix"></i>
                                <input id="email" name="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        <div class="row">
                            <button type="submit" class="col s12 m8 offset-m2 offset-2 btn-large red-bgr white-text black-shadow">
                                Submit <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}